* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #151515;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 240px;

}
.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn {
    left: 90%;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip {
    position: absolute;
    display: block;
    left: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active ul li .tooltip {
    display: none;
}
.sidebar ul li:hover .tooltip {
    transition: all 0.5 ease;
    opacity: 1;
    top: 50%;
}
/* .sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1e1e1e;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
} */
.sidebar ul li .bx-search:hover {
    background: #fff;
    color: #1e1e1e;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover {
    color: #151515;
    background: #fff;
}
.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile {
    background: #1e1e1e;

}
.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 15px;
}
.profile .profile_details .name_job {
margin-left: 10px;
}
.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job {
    font-size: 12px;
}
.profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.2s ease;
    background: #1e1e1e;
}
.sidebar.active .profile #log_out {
    left: 88%;
}
.sidebar.active .profile #log_out {
    background: none;
}
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    background: #272727;
    color: #fff;
}
.home_content .text {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    margin: 12px;
    font-size: 100px;
}
.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}
.bx-log-out-circle {
    cursor: pointer;
}
.bx-log-out-circle:hover {
    color: rgb(255, 72, 72);
}
h1 {
    padding-top: 5px;
    font-size: 34px;
    text-align: center;
}
h2 {
    padding-top: 12px;
    font-size: 20px;
    text-align: center;
    color: rgb(243, 243, 243);
}
p {
    font-size: 15px;
    text-align: center;
    padding-top: 158px;
    padding-right: 470px;
    color: rgb(230, 230, 230);
}
.rr {
    text-decoration: none;
    color: #fff;
    cursor: default;
}
#screen {
    position: absolute;
    display: flex;
    left: 68%;
    bottom: 23%;
    height:255px;
    width: 270px;
    border-radius: 5px;
}
staff {
    color: rgb(148, 230, 255);
}
booster {
    color: rgb(255, 180, 245);
}
#boosta {
    position: absolute;
    display: flex;
    left: 68%;
    bottom: 20%;
    height:260px;
    width: 280px;
    border-radius: 5px;
}
commands {
    color: rgb(255, 204, 128);
}
#bot {
    position: absolute;
    display: flex;
    left: 63%;
    bottom: 26%;
    height:200px;
    width: 360px;
    border-radius: 5px;
}